* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background: rgba(161, 37, 20, 0.61);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: burlywood;
    padding: 100px;
    box-shadow: 10px 5px 20px red;
    border-radius: 100px;
}

h1 {
    text-align: center;
    font-size: 30px;
    color: rgb(38, 2, 49);
}

input {
    padding: 10px;
    width: 300px;
    margin: 10px auto;
    background-color: cadetblue;
    color: #fff;
    font-size: 30px;
}

select {
    padding: 10px;
    margin: 10px;
    font-size: 30px;
}